<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/style.css">
    <title>Single Post</title>
</head>

<body>
<h1>Single post page</h1>

<%- include('./partials/navbar.ejs') %>

<div class="singlepost">
    <h2>
        <%= posts.title %>
    </h2>
    <div class="content">
        <p>
            <%= posts.body %>
        </p>
    </div>
    <h3 class="likes">
        likes : <%= posts.likes %>
    </h3>
    <button type="submit" onclick="handleDelete()">Delete</button>
</div>
<script>
    function handleDelete() {
        let postId = '<%= posts.id %>';
        console.log("trying to delete Post with ID " +postId + " and redirect");
        const endPoint = '/post/' + postId;
        fetch(endPoint, { method: 'DELETE'})
            .then(() => {window.location.replace("/posts")});
    }
</script>

<%- include('./partials/footer.ejs') %>

</body>

</html>