<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Single Post</title>
</head>

<body>
<h1>Single post page</h1>

<%- include('./partials/navbar.ejs') %>

<div class="singlepost">
    <h2>
        <%= posts.title %>
    </h2>
    <img class="image" src=<%= posts.urllink %>>
    <div class="content">
        <p>
            <%= posts.body %>
        </p>
    </div>
    <h3 class="likes">
        likes : <%= posts.likes %>
    </h3>
    <button id="thumbsUp" onclick="handleIncrease()">Like</button>
    <button type="submit" onclick="handleDelete()">Delete</button>
</div>
<script>

    function handleIncrease() {

        console.log("Laiginuppu vajutati!!");
        let postId = '<%= posts.id %>';
        let postLikes = '<%= posts.likes %>';
        console.log("trying to increase likes on post with ID " + postId + " and with the number of likes " + postLikes);
        const endPoint = '/singlepost/' + postId;
        fetch(endPoint, {method: 'PUT'})
            .then(() => {
                document.getElementById("thumbsUp").disabled = true;
            });
        postLikes+=1;
        console.log("jõudsime lõppu, uus laikide arv on: " + postLikes);

    }


    function handleDelete() {

        let postId = '<%= posts.id %>';
        console.log("trying to delete Post with ID " +postId + " and redirect");
        const endPoint = '/post/' + postId;
        fetch(endPoint, { method: 'DELETE'})
            .then(() => {window.location.replace("/posts")});

    }

</script>

<%- include('./partials/footer.ejs') %>

</body>

</html>